@keyframes logoScroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5350px, 0);
  }
}

.logos-section {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
  .logos-container {
    height: 100px;
    position: relative;
    min-height: 60px;
    width: 100%;
    background-color: #f8f8f8;
    background-clip: content-box;
    border-radius: 4px;
    display: grid;
    justify-items: center;
    align-items: center;
    .logos {
      margin: 0 auto;
      width: 100%;
      height: 60px;
      white-space: nowrap;
      overflow: hidden;
      position: absolute;
    }
    .logos img {
      height: 60px;
      display: inline-block;
      padding-left: 970px;
      animation: logoScroll 50s linear infinite;
    }
    .logos-2 img {
      animation-delay: 25s;
    }
  }
}
