@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background: linear-gradient(rgb(36, 77, 114) 0%, rgb(7, 33, 59) 100%); */
  background: linear-gradient(rgb(49, 116, 183) 0%, rgb(0, 62, 124) 87.55%);
  color: #fff;
}

.App::before {
  content: '';
  /* background: url('./assets/night-sky.jpg') no-repeat center/cover; */
  /* background-color: #21253e; */
  /* background-color: rgb(33, 70, 103); */

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.search-bar {
  width: 520px;
  text-align: center;
  padding: 1.4rem 1rem 0.8rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.search-bar-container {
  position: relative;
  width: 360px;
  margin: 0 auto;
}

.search-bar input[type='text'] {
  font-size: 1rem;
}

.App input {
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
  width: 360px;
  height: 42px;
}

::placeholder {
  color: #f8f8f8;
}

.search-button-container {
  height: 40px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
  cursor: pointer;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button-container:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-button {
  width: 20px;
}

.location-pin-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
}

.location-pin {
  width: 26px;
}

.content {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 1.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* *********************** TOP SECTION *********************** */

.top-section {
  margin: 1rem;
  border-radius: 10px;
  /* background: url(assets/sky.jpg); */
  background-color: rgba(255, 255, 255, 0.1);
  object-fit: cover;
  padding: 1rem;
}

.date,
.time {
  font-size: 0.9rem;
  padding: 0.3rem 0rem;
}

.location {
  display: flex;
}

.location p {
  font-size: 1.5rem;
}

.temp-icon-container {
  display: flex;
}

.temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp p {
  font-size: 4rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: 0.5rem;
}

.weather-description-container {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /*   position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(270deg); */
}

.weather-description {
  font-size: 1.2rem;
}

.weather-description-container p::first-letter {
  text-transform: capitalize;
}

.feels-like {
  font-size: 0.9rem;
  padding-top: 0.4rem;
}

/* *********************** BOTTOM SECTION *********************** */

.bottom-section {
  display: flex;
  margin: 1rem 0rem;
}

.bottom-section div {
  padding-right: 4rem;
}

.humidity-heading,
.pressure-heading,
.wind-heading,
.visibility-heading {
  font-size: 0.8rem;
}

.humidity-data,
.pressure-data,
.wind-data,
.visibility-data {
  padding-top: 0.4rem;
  font-weight: 600;
}

/* *********************** LOADER *********************** */

.loader {
  margin: 0 auto;
  margin-top: 8rem;
}

/* *********************** MODAL *********************** */

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalContainer {
  width: 320px;
  height: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: rgb(255, 255, 255, 1);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalImg {
  width: 220px;
  height: 220px;
}

.closeModalBtn {
  position: fixed;
  top: 8px;
  right: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.crossImg {
  width: 1.4rem;
}

.modalMsg {
  color: #000000;
}

/* *********************** SEARCHLOCATION COMPONENT *********************** */

.location-suggestions-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  margin: 0 auto;
}

.location-suggestions-div ul {
  background-color: rgba(255, 255, 255, 0.1);
}
.location-suggestions-div li {
  list-style: none;
  height: 45px;
  cursor: pointer;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.location-suggestions-div li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.location-suggestions {
  width: 160px;
}

.location-uggestions-icon {
  width: 32px;
}

/* *********************** FORECAST COMPONENT *********************** */
.forecast-heading {
  text-align: start;
  margin: 0 1rem;
  font-size: 16px;
}

.forecast-items {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.forecast-container {
  display: block;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1rem;
}

.forecast-date-container {
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: left;
}

.forecast-temp-and-icon-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
}

/* .forecast-temp-container {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

.forecast-temp-container p:nth-child(1) {
  font-weight: 800;
  margin-bottom: 0.4rem;
}

.forecast-temp {
  font-size: 16px;
}

.forecast-icon {
  width: 60px;
  margin-left: 12px;
}

/* *********************** MEDIA QUERIES *********************** */

@media screen and (max-width: 992px) {
  .content {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 768px) {
  ::placeholder {
    font-size: 1rem;
  }
  .forecast-container {
    font-size: 0.9rem;
  }
  .modalContainer {
    width: 220px;
    height: 220px;
  }
  .modalImg {
    width: 140px;
    height: 140px;
  }
  .crossImg {
    width: 1.2rem;
  }
}

@media screen and (max-width: 576px) {
  .App input {
    width: 420px;
  }
  .search-bar {
    width: initial;
    justify-content: space-between;
  }
  .search-bar-container {
    width: 420px;
    margin: initial;
  }
  .location-suggestions-div {
    margin: initial;
    margin-left: 1rem;
    width: 420px;
  }
  .location-suggestions-div li {
    width: 420px;
  }
  .location-pin-container {
    right: 1rem;
  }
}

@media screen and (max-width: 506px) {
  .App input {
    width: 334px;
  }
  .search-bar {
    width: initial;
    justify-content: space-between;
  }
  .search-bar-container {
    width: 334px;
    margin: initial;
  }
  .location-suggestions-div {
    width: calc(100% - 2rem);
  }
  .location-suggestions-div div {
    width: 100%;
  }
  .location-suggestions-div ul {
    width: 100%;
  }
  .location-suggestions-div li {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .App input {
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    width: 300px;
  }
  .search-bar-container {
    width: 300px;
  }
  .content {
    top: 24px;
  }
  .temp p {
    font-size: 2.6rem;
  }
  .weather-description {
    font-size: 1rem;
  }
  .bottom-section {
    justify-content: space-between;
  }
  .modalContainer {
    width: 180px;
    height: 180px;
  }
  .modalImg {
    width: 120px;
    height: 120px;
  }
  .modalMsg {
    font-size: 1rem;
  }
  .crossImg {
    width: 1rem;
  }
}

@media screen and (max-width: 386px) {
  .App input {
    width: 280px;
  }
  .search-bar {
    width: initial;
    justify-content: space-between;
  }
  .search-bar-container {
    width: 280px;
    margin: initial;
  }
}

@media screen and (max-width: 368px) {
  .App input {
    width: 260px;
  }
  .search-bar {
    width: initial;
    justify-content: space-between;
  }
  .search-bar-container {
    width: 260px;
    margin: initial;
  }
}

@media screen and (max-height: 500px) {
  .App {
    height: auto;
  }
}
