@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 3.5rem;
}

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.App::before {
  content: '';
  background: url('./assets/night-sky.jpg') no-repeat center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.search-bar {
  width: 520px;
  text-align: center;
  padding: 1.4rem 0.6rem 0.8rem 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.search-bar-container {
  position: relative;
  width: 360px;
  margin: 0 auto;
}

.search-bar input[type='text'] {
  font-size: 1rem;
}

.App input {
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
  width: 360px;
  height: 42px;
}

::placeholder {
  color: #f8f8f8;
}

.search-button-container {
  height: 40px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
  cursor: pointer;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button-container:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-button {
  width: 20px;
}

.location-pin-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
}

.location-pin {
  width: 26px;
}

.content {
  max-width: 700px;
  /* height: 500px; */
  margin: 0 auto;
  margin-top: 1.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* *********************** TOP SECTION *********************** */

.top-section {
  margin: 1rem 0.6rem;
}

.date,
.time {
  font-size: 0.9rem;
  padding: 0.3rem 0rem;
}

.location {
  display: flex;
}

.location p {
  font-size: 1.5rem;
}

.temp-icon {
  display: flex;
}

.temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 4.4rem;
  margin-left: 0.5rem;
}

.description-feels-like {
  display: flex;
  align-items: center;
}

.description {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(270deg); */
}

.description p {
  font-size: 1.2rem;
}

.description p::first-letter {
  text-transform: capitalize;
}

.feels-like p {
  font-size: 0.9rem;
}

/* *********************** BOTTOM SECTION *********************** */

.bottom-section {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 4rem 0.6rem;
  /*  margin-top: 4rem; */
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}

.loader {
  margin: 0 auto;
  margin-top: 8rem;
}

/* *********************** MODAL *********************** */

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalContainer {
  width: 320px;
  height: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: rgb(255, 255, 255, 1);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalImg {
  width: 220px;
  height: 220px;
}

.closeModalBtn {
  position: fixed;
  top: 8px;
  right: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.crossImg {
  width: 1.4rem;
}

.modalMsg {
  color: #000000;
}

/* *********************** SearchLocation Component *********************** */

.location-suggestions-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  margin: 0 auto;
}

.location-suggestions-div ul {
  background-color: rgba(255, 255, 255, 0.1);
}
.location-suggestions-div li {
  list-style: none;
  height: 45px;
  cursor: pointer;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.location-suggestions-div li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.location-suggestions {
  width: 160px;
}

.location-uggestions-icon {
  width: 32px;
}

@media screen and (max-width: 768px) {
  ::placeholder {
    font-size: 1rem;
  }
  .top-section {
    /* width: 90%; */
  }
  /* a */
  .bottom-section div {
    padding: 0.5rem;
  }
  .bottom-section p {
    font-size: 1rem;
  }
  .modalContainer {
    width: 220px;
    height: 220px;
  }
  .modalImg {
    width: 140px;
    height: 140px;
  }
  .crossImg {
    width: 1.2rem;
  }
}

@media screen and (max-width: 576px) {
  .search-bar {
    width: initial;
    justify-content: space-between;
  }
  .search-bar-container {
    margin: initial;
  }
  .location-pin-container {
    right: 0.6rem;
  }
}

@media screen and (max-width: 470px) {
  .App input {
    width: 320px;
  }
  .search-bar {
    width: initial;
    justify-content: space-between;
  }
  .search-bar-container {
    width: 320px;
    margin: initial;
  }
  .location-pin-container {
    right: 0.6rem;
  }
}

@media screen and (max-width: 420px) {
  .App input {
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    width: 250px;
  }
  .search-bar-container {
    width: 250px;
  }
  .content {
    top: 24px;
  }
  .temp h1 {
    font-size: 2.6rem;
  }
  .description p {
    font-size: 1rem;
  }
  .bottom-section {
    flex-direction: column;
  }
  .modalContainer {
    width: 180px;
    height: 180px;
  }
  .modalImg {
    width: 120px;
    height: 120px;
  }
  .modalMsg {
    font-size: 1rem;
  }
  .crossImg {
    width: 1rem;
  }
  .location-suggestions-div {
    width: 300px;
  }
  .location-suggestions-div li {
    width: 300px;
  }
}

@media screen and (max-height: 500px) {
  .App {
    height: auto;
  }
}
